
footer {
    margin-top: auto; 
}

/* FontAwesome property */
.location-icon, .heart-icon{
    font-size: 30px;
}

/* card border */
.MyBorder{
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}

/* button property */
.btn-lg-custom {
    padding: 15px 30px;
    font-size: 10rem;
    width: 325px;
}