html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

/* list property */
.MyBorder{
    border: solid 1px black;
}