html, body {
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column; 
}

footer {
    margin-top: auto; 
}

/* card border */
.MyBorder{
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}